<h1>Display</h1>

<div class="d-flex d-flex-row display-apps">
    <a href="/ui/" class="btn btn-lg btn-primary m-1 p-5">Photowall</a><br>
    <a href="/presenter/default" class="btn btn-lg btn-primary m-1 p-5">Presenter</a>
</div>

