<!DOCTYPE html>
<html lang="en" class="page-{{page}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{title}}</title>
    <link rel='stylesheet' href='/scripts/font-awesome/css/font-awesome.css'/>
    <link rel='stylesheet' href='/scripts/bootstrap/css/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
{{{body}}}
</body>
</html>
