body {
  background-color: #2D3B45;
}

.page-upload, .page-upload body {
  margin: 0;
  padding: 4px;
  width: 100%;
  height: 100%;
}

.page-upload .btn-primary {
  height: 100%;
  font-size: 6rem;
}

.styled-file-container {
  overflow: hidden;
  position: relative;
}

.styled-file-container [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.photo, .photo-sizer {
  width: 20%;
}

html.page-index , .page-index body {
  overflow: hidden;
}

.page-index .qr-code {
  position: fixed;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: 1rem;
  padding: 1rem;
}

html.page-presenter, .page-presenter body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.page-presenter .instruction {
  position: absolute;
  left: 50%;
  top: 30%;
  width: 50%;
  margin-left: -25%;

  text-align: center;

  background: white;
  border-radius: 1rem;

  padding: 2rem;

  overflow: hidden;
}

.page-presenter .qr-code {
  width: 30%;
  margin: auto;
}

.page-presenter .qr-code img {
  width: 100%;
}